.content {
    display: flex;
    flex-direction: column; /* Para alinhar verticalmente */
    justify-content: center; /* Para alinhar horizontalmente */
    text-align: left;
    margin: 3%;
    color: darkblue;
    max-width: 500px; 
}

p {
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
}
