<h2>Como calcular o IMC</h2>

<p>O cálculo do IMC é feito usando a seguinte fórmula: <strong>peso (kg) ÷ (altura x altura) (m)</strong>.</p>

<h2>Qual o IMC normal?</h2>

<p>O IMC é considerado normal quando o valor está entre 18,5 e 24,9 kg/m².</p>

@code {
	[Parameter]
	public EStatus Status { get; set; }
}
