@using Imc.ViewModels
@using Imc.Models.Enums
@using Imc.Models
@using Imc.Repositories

@inject NavigationManager navi;
@inject ILocalStorageService LocalStorage

@inherits LayoutComponentBase


<div>
    <h1>Cálculo de IMC</h1>
</div>
<EditForm Model="_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="flex flex-column">
        <div class="mb" >
            <InputNumber class="input-text" id="Altura" placeholder="Altura" step="0.01" @bind-Value="_model.Height" />
@*             <span class="form-input-invalid">
                <ValidationMessage For="@(() => _mode.Height)"/>
            </span>  *@   
        </div>
        <div class ="mb">
            <InputNumber class="input-text" id="Peso" @bind-Value="person.Weight" placeholder="Peso" />
        </div>
        <div>
            <select class="input-text" @bind="person.Sex">
                <option>Selecione o Sexo</option>
                <option value=@ESex.Male>Masculino</option>
                <option value=@ESex.female>Feminino</option>
            </select>
        </div>

    </div>
    <div class="checkbox-container">
        <input class="checkbox" type="checkbox" id="age" @bind-value="person.IsElderly" />
        <label class="checkbox-label" for="age">Eu tenho 65 anos ou mais</label><br>    
    </div>
    <div>
        <button class="button-primary" type="submit">Calcular meu IMC</button>
    </div>
</EditForm>
<div>
    <button class="button-secondary white-background">Entender o Cálculo</button>
</div>



@code {
    private _ImcModel _model = new();

    private async Task OnValidSubmit()
    {
        var _person = new PersonModel { Height = person.Height, Weight = person.Weight, Sex = person.Sex, IsElderly = person.IsElderly };
        var imcResultRepository = new LocalStorageRepository(LocalStorage);
        imcResultRepository.Create(_person);
        var history = imcResultRepository.Get();
        navi.NavigateTo("./historic");
    }
    

    //public EventCallback<PersonData> Calculation { get; set; }
}
