@inherits LayoutComponentBase

@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;

<dialog id="result-dialog" class="result-dialog">
    <div class="dialog-content" id="@Id">
        @ChildContent
        <br />
        <button @onclick="HideModalAsync" class="btn btn-filled btn-auto mb">
            Registrar IMC
        </button> 
    </div>
</dialog>

@code {
    [Parameter]
    [EditorRequired]
    public string Id { get; set; } = string.Empty;
    [EditorRequired]
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    [Parameter]
    public EventCallback<MouseEventArgs> OnModalCloseCallback { get; set; }

    public async Task ShowModalAsync()
    {
        await JSHost.ImportAsync("Dialog",
                         "../Components/Dialog.razor.js");
        await JsRuntime.InvokeVoidAsync("showModal", "result-dialog");

        StateHasChanged();
    }

    public async Task HideModalAsync()
    {
        await JSHost.ImportAsync("Dialog",
                         "../Components/Dialog.razor.js");
        await JsRuntime.InvokeVoidAsync("hideModal", "result-dialog");

        StateHasChanged();

        NavigationManager.NavigateTo("#slide-history");

        await OnModalCloseCallback.InvokeAsync();
    }
}
