﻿ /* Listas */
.list-unstyled {
    list-style: none;
}

.list-item {
    width: 100%;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.list-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .list-item-image img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

.list-item-description {
    text-align: left;
}

.list-item-description-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px 0 16px;
}

    .list-item-description-title h4 {
        margin: 0;
    }

.list-item-description-text {
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #E8E8E8;
}

/* Barra de pesquisa */
.div-search {
    width: 100%;
    margin-top: 2vh;
}

.search {
    margin-top: 16px;
    width: 90%;
    max-width: 600px;
    height: 50px;
    left: 0px;
    top: 0px;
    font-size: 100%;
    background: #F6F6F6;
    border-radius: 25px;
    border: 1px #E8E8E8 solid;
    text-indent: 5%;
}

.search{
    margin: 0 auto; /* Define as margens laterais automáticas */
    display: block; /* Garante que os elementos ocupem a largura total disponível */
}

.search::placeholder {
    padding: 2%;
    left: 16px;
    top: 16px;
    color: #BDBDBD;
    font-weight: 500;
    word-wrap: break-word;
}

.search input {
    padding-left: 10px;
    /* Adiciona um espaço interno à esquerda */
}

.btn {
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Enquadrado*/
body > .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
}

body > .content .section-history {
    flex: 1;
    padding: 1em;
    width: 600px;
}