/* Historico */

body > main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
}

    body > main .content .section-history {
        flex: 1;
        padding: 1em;
        width: 600px;
    }

/*Pesquisar*/
.button-secondary {
    width: 90%; /* Defina a largura como 90% */
    max-width: 600px;
    background-color: #45FEFE;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Logo */
.logo-container {
    left: 50%;
    z-index: 3;
    text-align: center;
    padding-top: 2%;
}

.logo {
    width: 90%;
    height: 90%;
    max-width: 95px;
    max-height: 95px;
    border-radius: 12px;
    background-color: white;
    border: 2px solid #45FEFE;
}

/* Titulos */
.PageHeader {
    width: 100%;
    height: 36px;
    text-align: center;
    color: black;
    font-size: 300%;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Feed {
    left: 107px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}

/* Barra de pesquisa */
.div-search {
    width: 100%;
    margin-top: 2vh;
}

.search {
    margin-top: 16px;
    width: 90%;
    max-width: 600px;
    height: 50px;
    left: 0px;
    top: 0px;
    font-size: 100%;
    background: #F6F6F6;
    border-radius: 25px;
    border: 1px #E8E8E8 solid;
    text-indent: 5%;
}

.search, .button-secondary, .tableHistory {
    margin: 0 auto; /* Define as margens laterais automáticas */
    display: block; /* Garante que os elementos ocupem a largura total disponível */
}

    .search::placeholder {
        padding: 2%;
        left: 16px;
        top: 16px;
        color: #BDBDBD;
        font-weight: 500;
        word-wrap: break-word;
    }

    .search input {
        padding-left: 10px;
        /* Adiciona um espaço interno à esquerda */
    }

/* Lista de historico */

.tableHistory {
    border-collapse: collapse;
    margin-top: 2vh auto;
    width: 100%;
    max-width: 600px;
}

.rowHistory {
    border-bottom: 1px solid #E8E8E8;
}
.rowHistory {
    width: 100%; /* Define a largura da linha como 100% */
    display: table-row; /* Define o comportamento de exibição como linha de tabela */
}


.icon-cell {
    width: 50px;
    height: 50px;
    background: #F6F6F6;
    border-radius: 8px;
}


.textTitle {
    left: 66px;
    top: 0px;
    color: black;
    font-weight: 600;
    word-wrap: break-word;
    text-align: left;
}

.textDate {
    left: 284px;
    top: 2px;
    text-align: right;
    color: #522020;
    font-weight: 400;
    word-wrap: break-word;
    align-items: flex-start;
}

.textDescription {
    width: 90%;
    /* Limitando a largura máxima */
    color: black;
    font-weight: 400;
    text-align: left;
}

.table-data {
    padding: 2%;
    width: 100%
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
    .search {
        width: 80%;
        /* Reduzindo a largura da barra de pesquisa */
    }

    .button-secondary {
        width: 80%;
        /* Reduzindo a largura da barra de pesquisa */
    }

    body > main .content .section-history {
        flex: 1;
        padding: 1em;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .PageHeader {
        font-size: 20px;
        /* Definindo um tamanho de fonte fixo para telas muito pequenas */
    }

    .textTitle,
    .textDescription {
        font-size: 14px;
        /* Reduzindo o tamanho da fonte para telas muito pequenas */
    }
}
