@page "/IMC"

<PageTitle>Calculador de IMC</PageTitle>

<div class="container">
	
	<Slide Id="slide-calcule">
		<Calculator></Calculator>
	</Slide>

	<Slide Id="slide-list">
		<History></History>
	</Slide>

	<Slide Id="slide-about">
		<h1>sobre</h1>
	</Slide>

</div>

