@page "/"

<PageTitle>Calculador de IMC</PageTitle>

<div class="container">
	
	<Slide Id="slide-calcule">
		<img src="imgs/icon-256.png" alt="Calculadora de IMC">
		<Calculator/>
	</Slide>

	<Slide Id="slide-history">
		<History/>
	</Slide>

	<Slide Id="slide-about">
		<h1>sobre</h1>
	</Slide>

</div>
