@page "/"

<PageTitle>Calculador de IMC</PageTitle>

<div class="container">
	
	<Slide Id="slide-calcule">
		<CalculationIMC></CalculationIMC>
	</Slide>

	<Slide Id="slide-list">

	</Slide>

	<Slide Id="slide-about">

	</Slide>

</div>

